<header class="nav-bar">
  <div class="logo">
    <a href="/"><img src="/images/votelah.svg" /></a>
  </div>
  <ul class="nav-bar--menu">
    <li>
      <a href="/voting-districts">
        Voting Districts
      </a>
    </li>
  </ul>
</header>