---
layout: base.njk
---
<link rel="stylesheet" href="css/map.css">

{% block content %}
<div class="container">
  <div id="map"></div>
</div>

<script type="module" src="js/electoralMap.js"></script>
{% endblock %}
